.c-popup.c-popup-governance(data-type='governance')
  .modal-backdrop.fade.in
  #governance.modal(aria-hidden='true', aria-labelledby='myModalLabel', role='dialog', tabindex='-1')
    .modal-dialog.governance.with_close
      .modal-content
        .modal-body.clearfix
          a.close(aria-hidden='true', data-dismiss='modal')
          .title Прямая линия с руководством
          .body
            p
              | Если с Вами некорректно разговаривали или дали неправильную информацию. У Вас есть замечания по работе сотрудников нашей компании или появились иные вопросы - смело звоните по номеру:
            p +375(29)647-60-85 (Velcom) - Анатолий.
            p
              | e-mail: 
              span(class='\"__cf_email__\"', data-cfemail='\"8ce5e2eae3ccfae3f6e5e1a2eef5\"') [email protected]
              script(cf-hash="\'f9e31\'", type='\"text/javascript\"').
                /* <![CDATA[ */!function(){try{var t=\\"currentScript\"in document?document.currentScript:function(){for(var t=document.getElementsByTagName(\"script\"),e=t.length;e--;)if(t[e].getAttribute(\"cf-hash\"))return t[e]}();if(t&&t.previousSibling){var e,r,n,i,c=t.previousSibling,a=c.getAttribute(\"data-cfemail\");if(a){for(e=\"\",r=parseInt(a.substr(0,2),16),n=2;a.length-n;n+=2)i=parseInt(a.substr(n,2),16)^r,e+=String.fromCharCode(i);e=document.createTextNode(e),c.parentNode.replaceChild(e,c)}}}catch(u){}}();/* ]]> */
            p Все замечания и предложения будут приняты, а недостатки устранены.
            p Мы хотим, чтобы наше сотрудничество вызывало у Вас только положительные эмоции!
